/*
Daily Chores
James Black
MIU : 1306
*/

/* CSS RESET */
html,img,body,div,span,h1,p,a,em,ul,li,fieldset,form,label,legend,article,header{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,header{display:block}body{line-height:1}ol,ul{list-style:none}

span {
    color: red;
}
h4 {
    color: black;
}

h1 {   
    text-align: center;
}

#errors li {
    color: red;
    font-size: 16px;
}


h2 {
    text-align: center;
    color: red;
}


 

.font {font-size: 18px; color: yellow;}

legend {text-align: center;}

#area {text-align: center;}

.inputHints {font-size: 10px; }
